@import url("https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&family=Cormorant+Upright&family=Noto+Sans+Runic&display=swap');

:root {
  --black:        #1D1E22;
  --light-black:  #2A2D34;
  --primary:      #C89B3C;
  --secondary:    #A8B2BD;
  --white:        #F4F1EA;

  --max-width:    720px;
  --padding:      32px;
  --padding-half: calc(var(--padding) / 2);
}

* {
  margin:  0;
  padding: 0;
}

html {
  color:            var(--secondary);
  background-color: var(--black);
}

body {
  font-family:    "Cormorant Upright", serif;
  font-size:      20px;
  font-weight:    400;
  font-style:     normal;
  display:        flex;
  flex-direction: column;
  margin:         0 auto;
  padding:        var(--padding);
  max-width:      var(--max-width);
  gap:            var(--padding);
}

main {
  padding:          var(--padding);
  border-radius:    var(--padding-half);
  background-color: var(--light-black);
  corner-shape:     bevel;
}

main,
.recipe__hero {
  display:        flex;
  flex-direction: column;
  gap:            var(--padding);
}

h1 {
  font-family:    "Cormorant Unicase", serif;
  font-weight:    600;
  font-style:     normal;
  text-transform: lowercase;
  color:          var(--primary);
}

h2 {
  color: var(--white);
}

p {
  line-height: 1.5;
}

section.recipes {
  display:               grid;
  grid-template-columns: 1fr 1fr;
  gap:                   var(--padding-half);
}

section.recipes a {
  text-decoration: none;
  color:           inherit;
}

.recipe__card {
  position:        relative;
  display:         flex;
  overflow:        hidden;
  align-items:     center;
  flex-direction:  column;
  justify-content: center;
  padding:         calc(var(--padding) / 2);
  transition:      all .2s ease;
  border-radius:   calc(var(--padding-half) / 2);
  aspect-ratio:    1/1;
  corner-shape:    bevel;
}

.recipe__card::before {
  position:         absolute;
  z-index:          1;
  content:          "";
  transition:       all .2s ease;
  opacity:          0.5;
  background-color: var(--black);
  inset:            0;
}

.recipe__card:hover {
  transform:  scale(1.05);
  box-shadow: var(--primary) 0 0 16px;
}

.recipe__card:hover::before {
  background-color: transparent;
}

.recipe__name {
  font-family:    "Cormorant Unicase", serif;
  font-size:      28px;
  font-weight:    600;
  font-style:     normal;
  user-select:    none;
  transition:     all .2s ease;
  text-transform: lowercase;
  color:          var(--white);
}

.recipe__name {
  line-height: 1.25;
  position:    relative;
  z-index:     2;
  text-align:  center;
  text-shadow: 2px 2px 5px #000000;
}

.recipe__card:hover .recipe__name {
  opacity: 0;
}

.recipe__image {
  position:   absolute;
  z-index:    0;
  width:      100%;
  height:     100%;
  object-fit: cover;
  inset:      0;
}

.recipe__hero {
  gap: var(--padding-half);
}

.recipe__hero h1 {
  font-size:       32px;
  display:         flex;
  align-items:     flex-end;
  flex-direction:  row;
  justify-content: space-between;
}

.recipe__hero a.breadcrumb {
  font-size:       .75em;
  text-decoration: none;
  color:           var(--white);
}

.recipe__hero a:hover {
  color: var(--secondary);
}

.recipe__hero a.breadcrumb::before {
  font-family: "Noto Sans Runic", sans-serif;
  font-weight: 400;
  font-style:  normal;
  margin:      0 .5rem;
  content:     "ᚳ";
}

.recipe__hero img {
  width:           100%;
  aspect-ratio:    3 / 2;
  object-fit:      cover;
  object-position: center;
}

.recipe__hero h2 {
  font-family:    "Cormorant Unicase", serif;
  font-size:      24px;
  font-weight:    600;
  font-style:     normal;
  margin-bottom:  .5em;
  text-transform: lowercase;
}

.recipe__hero ul, .recipe__hero ol {
  line-height: 1.5;
}

.recipe__hero li:first-of-type {
  margin-top: 1px;
}

ul, ol {
  list-style: none;
}

ul li, ol li {
  position:     relative;
  padding-left: 1.5rem;
}

ol li {
  counter-increment: ritual;
}

ul li::before, ol li::before {
  font-family: "Noto Sans Runic", sans-serif;
  font-weight: 400;
  font-style:  normal;
  position:    absolute;
  top:         0;
  left:        0;
}

ul li::before {
  content: "ᛟ";
  color:   var(--primary);
}

ol li::before {
  content: counter(ritual);
  color:   var(--primary);
}

ol li:not(:last-of-type) {
  margin-bottom: .5em;
}