@import url("https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&family=Cormorant+Upright&display=swap');

:root {
  --black:        #1D1E22;
  --light-black:  #2A2D34;
  --primary:      #C89B3C;
  --secondary:    #A8B2BD;
  --white:        #F4F1EA;

  --max-width:    720px;
  --padding:      32px;
  --padding-half: calc(var(--padding) / 2);
}

* {
  margin:  0;
  padding: 0;
}

html {
  color:            var(--white);
  background-color: var(--black);
}

body {
  font-family:    "Cormorant Upright", serif;
  font-size:      20px;
  font-weight:    400;
  font-style:     normal;
  display:        flex;
  flex-direction: column;
  margin:         0 auto;
  padding:        var(--padding);
  max-width:      var(--max-width);
  gap:            var(--padding);
}

main {
  display:          flex;
  flex-direction:   column;
  padding:          var(--padding);
  border-radius:    var(--padding-half);
  background-color: var(--light-black);
  gap:              var(--padding);
  corner-shape:     bevel;
}

h1 {
  font-family:    "Cormorant Unicase", serif;
  font-weight:    600;
  font-style:     normal;
  text-transform: lowercase;
  color:          var(--primary);
}

h2 {
  color: var(--secondary);
}

p {
  line-height: 2;
}

section.recipes {
  display:               grid;
  grid-template-columns: 1fr 1fr;
  gap:                   var(--padding-half);
}

section.recipes a {
  text-decoration: none;
  color:           inherit;
}

.recipe {
  position:        relative;
  display:         flex;
  overflow:        hidden;
  align-items:     center;
  flex-direction:  column;
  justify-content: center;
  padding:         calc(var(--padding) / 2);
  transition:      all .2s ease;
  border-radius:   calc(var(--padding-half) / 2);
  aspect-ratio:    1/1;
  corner-shape:    bevel;
}

.recipe::before {
  position:         absolute;
  z-index:          1;
  content:          "";
  transition:       all .2s ease;
  opacity:          0.5;
  background-color: var(--black);
  inset:            0;
}

.recipe:hover {
  transform:    scale(1.05);
  box-shadow:   var(--primary) 0 0 16px;
}

.recipe::before:hover {
  background-color: transparent;
}

.recipe__name {
  font-family:    "Cormorant Unicase", serif;
  font-size:      28px;
  font-weight:    600;
  font-style:     normal;
  text-transform: lowercase;
}

.recipe__name,
.recipe__description {
  line-height: 1.2;
  position:    relative;
  z-index:     2;
  text-align:  center;
  text-shadow: 2px 2px 5px #000000;
}

.recipe img {
  position:   absolute;
  z-index:    0;
  width:      100%;
  height:     100%;
  object-fit: cover;
  inset:      0;
}